/* CSS files add styling rules to your content */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#vd{

width:79%;
 height:470px;
}

#pr{
border: 2px solid red;
 border-radius: 25px;
padding: 2%;
background: #d2ff4d;
 font-size: 30px;
}

#prei{
display:block;
margin-left: auto;
  margin-right: auto;
}

#con{
  padding: 2%;
  background: #ddff99;
  
}

#symptoms{
border: 2px solid red;
  border-radius: 25px;
  padding: 3%;
  background: #d2ff4d;
   font-size: 30px;
}

#symp{

display:block;
margin-left: auto;
  margin-right: auto;
}

#vd{
display:block;
margin-left: auto;
  margin-right: auto;
}

.topnav a:hover {
  background-color: #d33;
  color: black;
}
#hp{
background-color: #000000;
color: #ff3300;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: #000000;
}
#nm{
font-weight: bold;
   font-size: 30px;
  color: #ff3300;

}

#h1 {
  font-weight: bold;
   font-size: 60px;
  color: #ff3300;
}
p{
  font-weight: bold;
  font-size: 30px;
  
  background: #d2ff4d;
}

.column {
  float: left;
  width: 32%;
  height: 10%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
